name: LLVM/clang(Linux)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true #false for ะช feedback

      matrix:
        os: [ubuntu-latest]
        build_type: [Release]
        c_compiler: [clang]
        include:
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++

    steps:
    - uses: actions/checkout@v3

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        
    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main

    - name: Conan prepare
      run: conan profile detect --force && echo "${{ steps.conan.outputs.version }}"

    - name: Conan install
      run: conan install . --build=missing -vvv --settings compiler.cppstd=20 

    - name: Build
      run: conan build -vvv --build=missing --settings compiler.cppstd=20 .
      
